img {
	margin-top: 2em;
	margin-bottom: 2em;
	max-width: 50em;
	width: 100%;
}

ul {
	padding: 0;
}

img.atom-logo {
	width: 25em;
}

div.container#content {
	font-size: 15px;
	line-height: 150%;
	padding-bottom: 40px;
	max-width: 800px;
}

div.post {
	margin-bottom: 30em;
}

div.post figure {
	max-width: 40em;
}

ul.monknav {
	position: relative;
	width: 100%;
	border-radius: .3em;
	list-style-type: none;
	text-align: center;
	line-height: 3em;
}

ul.monknav > li {
	display: inline-block;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

ul.monknav > li:not(:last-child) {
	border-right: solid lightgrey 1px;
}

.color-white-gradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

nav {
	text-align: left;
	margin-bottom: 5em;
}

div.brand {
	text-align: center;
	position: relative;
	padding-top: 5em;
	padding-bottom: 5em;
}
