{% extends 'base/base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/monkdown.css') }}">
{% endblock %}

{% block content %}
<xmp theme="{{ markdown_theme }}" style="display: none">
## Name
{{ author.real_name }}
{% if author.real_name != author.handle %}
## Handle
{{ author.handle }}
{% endif %}
## Twitter
<a href="https://www.twitter.com/{{author.twitter}}">@{{ author.twitter }}</a>
## Email
<a href="mailto://{{author.email}}">{{ author.email }}</a>
</xmp>

<a class="twitter-timeline"
  data-widget-id="646406227967148032"
  href="https://twitter.com/{{author.twitter}}"
  data-screen-name="{{author.twitter}}">
Tweets by @{{author.twitter}}
</a>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='bower_components/strapdown/strapdown.js') }}"></script>
{% endblock %}
